<div id="bg-login">
  <form #form="ngForm" (ngSubmit)="login()">
    <ion-grid>
    	<ion-row justify-content-center>
    		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <img id="img-login" src="../../assets/safe_go_negativo.png" />

    			<div padding>
            <ion-item class="inpt-transp">
              <ion-input tabindex="1" type="email" placeholder="Usuário" name="usuario" type="text" [(ngModel)]="frmLogin.usuario" required></ion-input>
            </ion-item>

            <ion-item class="inpt-transp">
              <ion-input tabindex="2" placeholder="Senha" name="senha" type="password" [(ngModel)]="frmLogin.senha" required></ion-input>
            </ion-item>

            <div class="esqueci-senha" text-center>
              <a href="javascript:;" (click)="solicitarResetSenha()">Esqueci minha senha</a>
            </div>
    			</div>

          <div text-center>
            <ion-button id="btn-entrar" color="primary" type="submit" size="large">Entrar</ion-button>
          </div>
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </form>
</div>
