<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="closeModal()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img class="img-logo-new" src="../../assets/safe_go_logo_final-azul.png">
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="row-user-info">
    <ion-col size="12" text-center>
      <img style="width: 80px;" class="img-logo" src="../../assets/person-icon.png" />
      <h2 class="label-title">
        LOGIN<strong>TEMPORÁRIO</strong>
        <br />
        <span style="font-size: 0.8em;">TEMPORARY<strong>LOGIN</strong></span>
      </h2>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10" offset="1">
      <ion-item>
        <ion-input placeholder="Login" name="login" [(ngModel)]="frmCadTemp.usuario"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Senha / Password" name="senha" [(ngModel)]="frmCadTemp.senha" type="password"></ion-input>
      </ion-item>

      <ion-item>
        <ion-input placeholder="Nome / Name" name="nome" [(ngModel)]="frmCadTemp.nome"></ion-input>
      </ion-item>

      <ion-item>
        <ion-datetime
          placeholder="Validade / Expiry Date"
          name="validade"
          [(ngModel)]="frmCadTemp.validade"
          display-format="DD/MM/YYYY"
          picker-format="DD MMMM YYYY"
          month-names="Janeiro, Fevereiro, Março, Abril, Maio, Junho, Julho, Agosto, Setembro, Outubro, Novembro, Dezembro"
          (ionCancel)="clearInput('vcto_inicial')"
          cancelText="Limpar"
          doneText="Selecionar"
          min="{{currentDate}}"
          max="{{maxDate}}"
        ></ion-datetime>
      </ion-item>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="10" offset="1">
      <ion-button class="send-button" size="large" type="button" expand="block" (click)="postCadTemporario()">
        Cadastrar / Register
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
