ion-header{
  ion-toolbar{
    --min-height: 68px;
  }
}
ion-content{
  --background: #30A1BA;
}
.icon-menu{
  font-size: 23px;
}
#qr-holder {
  width: 100%;
  text-align: center;
  padding: 45px;
  background-color: #FFF;
  border-radius: 10px;
  border: solid 2px #666;
}
#qr-code {
  display: inline-block;
}
#qr-holder svg{
  width: 100%;
  height: auto;
}
#title{
  font-size: 16px;
}
#validade-new{
  color: #CCC;
  font-size: 11px;
}
.user-validade{
  position: relative;
  left: 8px;
}
#userName{
  font-size: 14px;
  margin: 0px 0px 3px 0px;
}
#userValidade{
  margin: 0;
  font-size: 11px;
  color: #CCC;
}
.vertical {
  /*display: flex;
  flex-direction: column;
  align-items: center;*/
}
div.vertical span{
  position: relative;
  left: -2%;
  margin-left: 4%;
  font-size: 12px;
  display: inline-block;
  vertical-align: middle;
}
div.vertical .icon{
  font-size: 40px;
  vertical-align: middle;
}
ion-button.vertical{
  --padding-top: 10px;
  --padding-bottom: 10px;
}
#btn-chegando{
  --background: #cefecc;
  --color: #000;
  text-transform: lowercase;
  --border-radius: 6px;
  --border-width: 2px;
  --border-color: #666;
  --border-style: solid;
}
#btn-problema{
  --background: #fed5d3;
  --color: #000;
  text-transform: lowercase;
  --border-radius: 6px;
  --border-width: 2px;
  --border-color: #666;
  --border-style: solid;
}
.img-logo{
  width: 55px;
}
.user-name{
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
}
.user-valid{
  margin-top: 0px;
  font-size: 14px;
  font-weight: 300;
}
.row-user-info{
  padding-top: 21px;
  background-color: #FFF;
  opacity: 0.95;
  margin-bottom: 30px;
}
.row-qr{
  --background: url('../../assets/bg-principal.jpg') no-repeat center center / cover;
}
