<ion-header>
  <ion-toolbar>
    <ion-thumbnail class="logo-top" slot="end" (click)="showLogoff($event)">
      <img class="img-logo-new" src="../../assets/avatar.png">
    </ion-thumbnail>
    <ion-label class="sc-ion-label-ios-h sc-ion-label-ios-s ios hydrated user-validade">
      <h3 id="title">{{nomeUser}}</h3>
      <p>Validade: {{validadeUser}}</p>
    </ion-label>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row style="margin-bottom: 30px;">
    <ion-col size="12">
      <div id="qr-holder">
        <qrcode id="qr-code" [qrdata]="qrCode" [size]="300" [level]="'M'"></qrcode>
      </div>
    </ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="12">
      <ion-button color="primary" size="large" type="button" expand="block" (click)="estouChegando(false)">Estou chegando</ion-button>
      <ion-button color="danger" size="large" type="button" expand="block" (click)="estouChegando(true)">Estou com problema</ion-button>
      <ion-button *ngIf="isTemporario == false" color="primary" size="large" type="button" expand="block" (click)="cadTemporario()">Login Temporário</ion-button>
    </ion-col>
  </ion-row>
</ion-content>
