ion-header{
  margin-bottom: 30px;
}
#qr-holder {
  width: 100%;
  text-align: center;
}
#qr-code {
  display: inline-block;
}
#title{
  font-size: 16px;
}
#validade-new{
  color: #CCC;
  font-size: 11px;
}
.img-logo-new{
  position: relative;
  left: -8px;
}
.user-validade{
  position: relative;
  left: 8px;
}
#userName{
  font-size: 14px;
  margin: 0px 0px 3px 0px;
}
#userValidade{
  margin: 0;
  font-size: 11px;
  color: #CCC;
}
