<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button class="icon-menu" (click)="openMenu()">
        <ion-icon src="../../assets/menu-icon.svg" name="menu"></ion-icon>
      </ion-button>
    </ion-buttons>
    <img class="img-logo-new" src="../../assets/safe_go_logo_final-azul.png">
  </ion-toolbar>
</ion-header>

<ion-content class="row-qr">
  <ion-row class="row-user-info">
    <ion-col size="2" text-center>
      <img class="img-logo" src="../../assets/person-icon.png" />
    </ion-col>
    <ion-col size="10">
      <h2 class="user-name">{{nomeUser}}</h2>
      <p class="user-valid">Validade/Expiration: {{validadeUser}}</p>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="10" class="col-qr-code">
      <div id="qr-holder">
        <qrcode [usesvg]="true" id="qr-code" [qrdata]="qrCode" [size]="300" [level]="'M'"></qrcode>
      </div>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
  <ion-row>
    <ion-col size="1"></ion-col>
    <ion-col size="5">
      <ion-button id="btn-chegando" (click)="estouChegando(false)" expand="block" size="large" class="vertical">
        <div class="vertical">
          <!--<ion-icon slot="start" name="pin" class="icon"></ion-icon>-->
          <ion-icon src="../../assets/plane.svg" slot="start" name="pin" class="icon"></ion-icon>
          <span class="">
            Estou chegando<br />
            <span style="color: #666;">On my way</span>
          </span>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="5">
      <ion-button id="btn-problema" (click)="estouChegando(true)" expand="block" size="large" class="vertical">
        <div class="vertical">
          <!--<ion-icon slot="start" name="alert" class="icon"></ion-icon>-->
          <ion-icon src="../../assets/megaphone.svg" slot="start" name="pin" class="icon"></ion-icon>
          <span class="">
            Estou com<br />problema
            <br />
            <span style="color: #666;">In trouble</span>
          </span>
        </div>
      </ion-button>
    </ion-col>
    <ion-col size="1"></ion-col>
  </ion-row>
</ion-content>
