// App Styles
// ----------------------------------------------------------------------------
// Put style rules here that you want to apply to the entire application. These
// styles are for the entire app and not just one component. Additionally, this
// file can hold Sass mixins, functions, and placeholder classes to be imported
// and used throughout the application.
@font-face {
  font-family: 'Roboto';
  src: url('../assets/Roboto/Roboto-Regular.ttf');
}
@font-face {
  font-family: 'Roboto-Thin';
  src: url('../assets/Roboto/Roboto-Thin.ttf');
}

.item-side-menu{
  cursor: pointer;
}
*{
  --ion-font-family: 'Roboto';
}
.img-logo-new{
  /*position: relative;
  left: -8px;*/
  height: 40px;
  float: right;
  margin-right: 16px;
}

/*
ion-app.ios {
  font-family: Verdana !important;
}
ion-app.android {
  font-family: Verdana !important;
}
*/
